build/
.vs/
*.exe
*.dll
*.obj
*.lib
*.pdb
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cbp
*.layout
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
